# 8 Grouping Data & Aggregating Variables

Contents

1. Importing Libraries
2. Importing Data
3. Determine aggregated mean of orders grouped by department
4. Create a loyalty flag for existing customers
5. Create 'loyalty_flag' column
6. Analyze spending habits of customers
7. Create a spending flag based on average price by user
8. Create a frequent customer flag
9. Export Data

#01 Importing Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

#02 Importing Data

In [2]:
#Folder Path
path = r'C:\Users\Caroline\Documents\Career Foundry\03 2023 Instacart Basket Analysis'

In [3]:
#import orders_products_merged.pkl as df_orders_products_merged
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_PR_busy.pkl'))

In [4]:
#check the imported data
ords_prods_merge.shape

(32404859, 17)

In [5]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,aisle_id,price_range_loc,busiest_day,busiest_period,busiest_period_of_the_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,77,Mid range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,77,Mid range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,77,Mid range product,Least busy,Slowest days,Most orders

#03 Determine aggregated mean of orders grouped by department

In [6]:
#split the data into groups based on department_id and use agg function to obtain mean values for the 'order_number column'
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#04 Create a loyalty flag for existing customers

In [7]:
# First step - create a new column called 'max_order', then group ords_prods_merge by 'user_id', and transform() function 
# applied on the 'order_number ' column with np.max arguement
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#check the new column with .head()
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,aisle_id,price_range_loc,busiest_day,busiest_period,busiest_period_of_the_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,77,Mid range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,77,Mid range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,77,Mid range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,7,9.0,77,Mid range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,7,9.0,77,Mid range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,7,9.0,77,Mid range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,7,9.0,77,Mid range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,7,9.0,77,Mid range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,7,9.0,77,Mid range product,Regularly busy,Busiest days,Most orders,22

In [9]:
#to show all the rows
pd.options.display.max_rows = None

In [ ]:
# check the output of the data aggregation on 100 rows - Clear current outputs afterwards in Cell menu
ords_prods_merge[['user_id', 'order_number', 'max_order']].head(100)

#05 Create 'loyalty_flag' column

In [10]:
# Next Step - loyal customer criteria
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
# print the frquency of 'loyalty_flag' with value_counts()
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [ ]:
#check the results of just the relevant columns
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

In [ ]:
#06 Analyze spending habits of customers

In [15]:
# Determine the mean price grouped by loyalty_flag
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                    prices
                      mean
loyalty_flag
Loyal customer    7.773488
New customer      7.801077
Regular customer  7.798145

At first glance, there is only a small difference in the average price per loyalty category. Other avenues for examination might look for total number of items purchased or total order amount.

#07 Create a spending flag based on average price by user

In [16]:
# First step - create a new column called 'mean_spending', then group ords_prods_merge by 'user_id', and transform() function 
# applied on the 'prices' column with np.mean arguement
ords_prods_merge['mean_spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [ ]:
#check the new column with .head()
ords_prods_merge.head(15)

In [ ]:
# check the output of the data aggregation on 100 rows - Clear current outputs afterwards in Cell menu
ords_prods_merge[['user_id', 'prices', 'mean_spending']].head(100)

In [24]:
# check the 'prices' column, because all visible entries are 9
ords_prods_merge['prices'].mean()

7.4210662841796875

In [25]:
# 2nd Step - "Low Spender" criteria
ords_prods_merge.loc[ords_prods_merge['mean_spending'] < 10, 'spending_flag'] = 'Low spender'

In [27]:
# "High Spender" criteria
ords_prods_merge.loc[(ords_prods_merge['mean_spending'] >= 10), 'spending_flag'] = 'High spender'

In [ ]:
#check the new column with .head()
ords_prods_merge.head(10)

In [ ]:
#check the results of just the relevant columns
ords_prods_merge[['user_id', 'spending_flag', 'mean_spending']].head(10)

In [30]:
# print the frquency of 'spending_flag' with value_counts()
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     32285150
High spender      119709
Name: spending_flag, dtype: int64

#08 Create a frequent customer flag

In [33]:
# First step - create a new column called 'median_order_flag', then group ords_prods_merge by 'user_id', and transform() function 
# applied on the 'days_since_prior_order' column with np.median arguement
ords_prods_merge['median_order_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [ ]:
#check the new column with .head()
ords_prods_merge.head()

In [ ]:
#check the results of just the relevant columns - Clear current outputs afterwards in Cell menu
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_order_freq']].head(100)

In [38]:
# 2nd Step - "Non-frequent customer" criteria
ords_prods_merge.loc[(ords_prods_merge['median_order_freq'] > 20) , 'order_freq_flag'] = 'Non-frequent customer'

In [39]:
# "Regular customer" criteria
ords_prods_merge.loc[(ords_prods_merge['median_order_freq'] > 10) & (ords_prods_merge['median_order_freq'] <= 20) , 'order_freq_flag'] = 'Regular customer'

In [40]:
# "Frequent customer" criteria
ords_prods_merge.loc[(ords_prods_merge['median_order_freq'] <= 10) , 'order_freq_flag'] = 'Frequent customer'

In [43]:
# print the frquency of 'order_freq_flag' with value_counts()
ords_prods_merge['order_freq_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_freq_flag, dtype: int64

#09 Export Data

In [44]:
#check the imported data
ords_prods_merge.shape

(32404859, 23)

In [45]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_period,busiest_period_of_the_day,max_order,loyalty_flag,mean_spending,spending_flag,order_freq_flag,median_order_freq
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,Non-frequent customer,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,Non-frequent customer,20.5

In [48]:
#Export df_orders_products_merged in .pkl format
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merge_withflags.pkl'))